extends layout

block content
	.component(onclick="return {type: 'config'}")
	.component(onclick="return {type: 'constants'}")
	.component(onclick="return {type: 'utils'}")
	.component(onclick="return {type: 'keyboard'}")
	.component(onclick="return {type: 'scene'}")
	.component(onclick="return {type: 'board'}")
	.component(onclick="return {type: 'dice'}")
	.component(onclick="return {type: 'devil'}")
	.component(onclick="return {type: '2d'}")

	.header
		ul.menu
			li: a(href="#pause") Pause
			li: a(href="#newgame") New Game
			li: a(href="#musiconoff") Music on/off
			li: a(href="#soundsonoff") Sounds on/off
