extends layout

block content
	//script(src="/js/intro.js")
	.intro(data-dicepattern)
		.intro__keyvisual
			.intro__glow
			.intro__logo
		.intro__start
			a(href="#start") Start game
		.intro__copyright This game is a WebGL remake of XI [sai] game originaly made by Shift for PS1 and published by Sony Entertainment. AQUI characters belongs to their respective owners. 
