doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/global.css')
    script(src="/js/three.js")
    script(src="/js/jquery-latest.min.js")
    script(src="/js/howler.min.js")
    script(src="/js/Stats.js")
    script(src="/js/eigh.js")
  body
    #wrapper
      block content
